:root { 
--gray_900_02:#1d1d1d; 
--black_900_a2:#000000a2; 
--gray_500:#a9a9aa; 
--blue_gray_100:#d9d9d9; 
--gray_900:#15161c; 
--gray_900_01:#121212; 
--white_A700_90:#ffffff90; 
--black_900_3f:#0000003f; 
--amber_A200:#f1c644; 
--gray_100:#f5f1f5; 
--white_A700_75:#ffffff75; 
--purple_A100_7f:#d883ff7f; 
--red_A400:#f41b3b; 
--purple_A100:#d883ff; 
--white_A700:#ffffff; 
}